@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color tokens used by shadcn UI components (light mode) */
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 15% 10%;

    --muted: 210 40% 98%;
    --muted-foreground: 215 20% 60%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 15% 10%;

    --border: 214 31% 91%;
    --input: 214 31% 97%;
    --ring: 240 100% 50%;
    --radius: 12px;

    --primary: 240 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 100% 50%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 78% 63%;
    --destructive-foreground: 0 0% 100%;
  }

  /* Dark mode token values */
  .dark {
    --background: 220 8% 12%;
    --foreground: 210 40% 98%;

    --muted: 222.2 84% 6.9%;
    --muted-foreground: 210 40% 70%;

    --card: 220 8% 15%;
    --card-foreground: 210 40% 98%;

    --border: 220 14% 15%;
    --input: 220 14% 12%;
    --ring: 240 100% 65%;

    --primary: 240 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 100% 60%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 78% 63%;
    --destructive-foreground: 0 0% 100%;
  }
}
